@model MediWeb.ViewModel.FullDetails

@{
    ViewBag.Title = "patientEdited";
}

<h2>Patient Details has been edited succesfully!!!</h2>
<h3>Patient Id: @Model.patient.PID</h3>
<h3>Patient Name: @Model.patient.name</h3>
<br /><br /><br />

<h2>NOTE: Please do remember your ID  for future</h2>


