
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to MediWeb Application</h2>
<hr />

<p>No need to carry bundles of all your medical reports to each doctor you visit. <br /> Just login to this application and record all your medical history.

</p>

@Html.ActionLink("Search patients with id", "viewSearch","patient",null,null)
<hr />
@Html.ActionLink("Delete Datient Details", "deletePatient","patient",null,null)
 