
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to MediWeb Application</h2>
<hr />

<p>No need to carry bundles of all your medical reports to each doctor you visit. <br /> Just login to this application and record all your medical history.

</p>
@Html.ActionLink("Add new patient", "addPatient","FullDetails",null,null)
<hr />
 